<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MapViewerFrame">
		<centered>1</centered>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="TreeCtrl" member="yes">
								<size>183,293</size>
								<style>wxTR_FULL_ROW_HIGHLIGHT|wxTR_DEFAULT_STYLE</style>
								<handler function="OnTreeCtrlItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
								<handler function="OnTreeCtrlSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
